@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100%;
    background-color: hsl(257, 40%, 49%);
    background-image: url(./images/bg-desktop.svg);
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 100px;
}

header img {
    width: 260px;
    padding-top: 40px;
    padding-left: 70px;
}

main {
    width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

main .imagem {
    width: 50%;
}

main .imagem img {
    padding-top: 60px;
    padding-left: 70px;
    width: 95%;
}

main .textos {
    width: 40%;
    margin-right: 60px;
    padding-bottom: 40px;
}

main .textos h1 {
    color: #fff;
    font-size: 2.3em;
}

main .textos p {
    width: 100%;
    color: #fff;
    opacity: .8;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 1.1em;
}

main .textos button {
    border: 1px solid hsl(257, 40%, 49%);
    background-color: #fff;
    color: hsl(257, 40%, 49%);
    border-radius: 30px;
    width: 170px;
    height: 45px;
    margin-top: 20px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

main .textos button:hover {
    background-color: hsl(300, 69%, 71%);
    color: #fff;
    transition: 0.3s ease-in-out;
}

footer {
    width: 100%;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 150px;
}

.twitter img {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.instagram img{
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.facebook img  {
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
}

@media (max-width: 1024px) {
    header img {
        width: 200px;
        padding-top: 30px;
        padding-left: 30px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    main .imagem img {
        padding-top: 30px;
        padding-left: 30px;
        width: 100%;
    }

    main .textos h1 {
        color: #fff;
        font-size: 24px;
        text-align: center;
    }

    main .textos {
        width: 360px;
        margin-right: 0px;
        padding-bottom: 0px;
        padding-top: 50px;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    main .textos p {
        width: 297px;
        color: #fff;
        opacity: .8;
        letter-spacing: 1px;
        font-family: sans-serif;
        font-weight: 100;
        text-align: center;
        padding-top: 20px;
    }

    main .textos button {
        border: 1px solid hsl(257, 40%, 49%);
        background-color: #fff;
        color: hsl(257, 40%, 49%);
        border-radius: 30px;
        width: 200px;
        height: 45px;
        margin-top: 20px;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    }

    .icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-right: 0;
        padding-top: 70px;
        padding-bottom: 40px;
    }
}

